@import "tailwindcss";

html {
  background-color: #092327;
  color: white;
}

:root {
  --color-darkblue: #092327;
  --color-lightblue: #06BCC1;
  --color-darkblue: #FFFFFF;
  --color-orange: #FF7F11;
  --color-yellow: #FFE900;
  --color-red: #FF0022;
  --color-lightred: #FE5E41;
  --color-gray: #817F82;
}

button {
  background-color: var(--color-lightred);
  text-align: center;
}

label {
  background-color: var(--color-lightred);
}