@import "tailwindcss";

:root {
  --color-black: #171717;
  --color-lightblue: #06BCC1;
  --color-darkblue: #FFFFFF;
  --color-orange: #D94100;
  --color-yellow: #FFE900;
  --color-red: #FF0022;
  --color-lightred: #FE5E41;
  --color-gray: #323232;
}

@theme {
  --color-black: #171717;
  --color-lightblue: #06BCC1;
  --color-darkblue: #FFFFFF;
  --color-orange: #D94100;
  --color-yellow: #FFE900;
  --color-red: #FF0022;
  --color-lightred: #FE5E41;
  --color-gray: #323232;
}

html {
  font-family: "Poppins", serif
}

button {
  background-color: var(--color-orange);
  text-align: center;
}

.prim-button {
  cursor: pointer;
  border-radius: 6px;
  padding: 0.35rem 0.5rem;
  width: 100%;
  box-shadow: 5px 6px black;
  background-color: var(--color-orange);
  transition: 250ms;
  text-align: center;
  margin: 1rem 0;
}

.sec-button {
  cursor: pointer;
  border-radius: 6px;
  padding: 0.35rem 1.4rem;
  width: 100%;
  box-shadow: 5px 6px black;
  background-color: var(--color-yellow);
  color: black;
  transition: 250ms;
  text-align: center;
  max-width: 170px;
}

.prim-button:hover {
  box-shadow: 3px 3px black;
  background-color: var(--color-orange);
}

#Slider {
  box-shadow: none;
  border: none;
}

.loading-message {
  color: var(--color-orange);
}

.multi-range-slider .thumb .caption {
  display: none !important;
}