@import "tailwindcss";

html {
  background-color: #092327;
  color: white;
}

:root {
  --color-darkblue: #092327;
  --color-lightblue: #06BCC1;
  --color-darkblue: #FFFFFF;
  --color-orange: #FF7F11;
  --color-yellow: #FFE900;
  --color-red: #FF0022;
  --color-lightred: #FE5E41;
  --color-gray: #817F82;
}

button {
  background-color: var(--color-lightred);
  text-align: center;
}

label, .button {
  padding: 4px 8px;
  background-color: var(--color-lightred);
  margin: 1em 0;
  text-align: center;
}

input {
  background-color: #817F82;
  margin: 0 1em;
}

#Slider {
  box-shadow: none;
  border: none;
}

.multi-range-slider .thumb .caption {
  display: none !important;
}